body{
    margin: 0;
    background-color: lightgray;
    font-family: sans-serif;
}

h1, h2{
    color: red;
}

header{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items
}

aside{
    position: absolute;
    left: 0;
    height: 100vh;
    width: 300px;
}

section{
    position: absolute;
    left: 300px;
}